<div class="mostri-container">
  <h2>Elenco Draghi</h2>

  <!-- *ngIf è una direttiva Angular, impone logica dentro HTML
       se il booleano dopo l'uguale è TRUE l'elemento viene GRAFICATO,
       altrimenti è nascosto
   -->
  <p *ngIf="!draghi.length" class="empty-msg">
    Nessun drago da mostrare.
  </p>

  <!--
      truthy/falsy
      mostri.length è considerato TRUE se diverso da 0
      FALSE se 0
   -->
  <table *ngIf="draghi.length" class="mostri-table">
    <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Ubicazione</th>
      <th>Pericolosità</th>
      <th>Elemento</th>
      <th>Volante</th>
    </tr>
    </thead>

    <tbody>
    <!--
        direttiva per ciclare l'array di mostri
        let m of mostri -> for each normalissimo
        ripeti il codice dalla riga 37 alla riga 45 una volta per ogni mostro
        che chiami m nell'array di mostri. index as i, prende anche l'indice e lo chiama i
        grazie alla sintassi a MUSTAZZO ({{}}) lui fa interpolazione, stampa nella pagina i valori
        delle variabili tra doppie graffe
        -->
    <tr *ngFor="let m of draghi; index as i">
      <td class="index"><button (click)="mostraDettaglioDrago(i)">{{ i + 1 }}</button></td>
      <td>{{ m.nome }}</td>
      <td>{{ m.ubicazione }}</td>
      <td>
          <span class="danger">
            {{ m.pericolosita }}
          </span>
      </td>
      <td>{{ m.elemento }}</td>
      <td>{{ m.volante ? 'si' : 'no' }}</td>
    </tr>
    </tbody>
  </table>
</div>


