<div class="mostri-container">
  <h2>Elenco Mostri</h2>

  <!-- messaggio se l’array è vuoto -->
  <p *ngIf="mostri?.length === 0" class="empty-msg">
    Nessun mostro da mostrare.
  </p>

  <!-- tabella -->
  <table *ngIf="mostri?.length" class="mostri-table">
    <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Ubicazione</th>
      <th>Pericolosità</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let m of mostri; index as i">
      <td class="index">{{ i + 1 }}</td>
      <td>{{ m.nome }}</td>
      <td>{{ m.ubicazione }}</td>
      <td>
          <span
            [ngClass]="{
              'danger bassa' : m.pericolosita === 'BASSA',
              'danger media' : m.pericolosita === 'MEDIA',
              'danger alta'  : m.pericolosita === 'ALTA',
              'danger dev'   : m.pericolosita === 'SVILUPPATORE_SPRING'
            }"
          >
            {{ m.pericolosita }}
          </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
